expose:
  type: nodePort
  tls:
    enabled: false
  nodePort:
    name: harbor
    ports:
      http:
        port: 80
        nodePort: 30081

externalURL: http://harbor.local:30081

harborAdminPassword: Harbor12345

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      size: 20Gi
    database:
      size: 5Gi
    redis:
      size: 1Gi

registry:
  relativeurls: true

trivy:
  enabled: false
